
body {
    padding-top: 10%;
    text-align: center;
    background-color: beige;
    font-family:Arial, Helvetica, sans-serif , Arial, sans-serif;
}

#definitions, #concepts {
    text-align: left;
    font-size: large;
}
