
body {
    padding-top: 10%;
    text-align: center;
    color: rgb(32, 32, 32);
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    color: white;
    font-family:Arial, Helvetica, sans-serif , Arial, sans-serif;
}

#definitions, #concepts {
    text-align: left;
    font-size: large;
}
